@use 'utilities/font-sizes' as fs;
@use 'mixins' as mix;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;

.aboutus {
	position: relative;
	color: c.$light-white;
	@include mix.heroImages('../img/aboutuss-small.jpg');
	background-size: cover;
	background-position: center;

	.underline {
		background-color: c.$light-white;
		margin-bottom: 3em;
	}

	&__info {
		padding: s.$m1 s.$m1;
		font-family: 'Poppins', sans-serif;
		text-align: center;

		&-description {
			font-size: fs.$smedium;
			margin-bottom: s.$m2;
		}

		&-list {
			list-style: none;
			margin-bottom: 4em;

			&-item {
				text-transform: uppercase;
				padding: 0.2em 0;
			}
		}
	}

	&__contact-btn {
		padding: s.$m1 s.$m2;
		margin-top: s.$m1;
		margin-bottom: 3em;
		font-size: fs.$smedium;
		font-weight: bold;
		background-color: c.$main-color;
		color: c.$light-white;
		border: none;
		border-radius: s.$brstandard;
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color 0.3s;
		outline: none;
		cursor: pointer;

		&:hover {
			background-color: c.$hover-color;
		}

		&:focus {
			background-color: c.$focus-color;
		}
	}
}

@media (min-width: 576px) {
	.aboutus {
		&__info {
			margin-bottom: 4em;

			&-description {
				margin-bottom: 4em;
			}
		}
	}
}

@media (min-width: 768px) {
	.aboutus {
		background-attachment: fixed;
	}
}

@media (min-width: 992px) {
	.aboutus {
		@include mix.heroImages('../img/aboutuss-big.jpg');

		&__info{

			&-description {
				text-align: justify;
			}
		}
		
	}
}
