@use 'utilities/font-sizes' as fs;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;

.box-img-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	&__img {
		width: 100%;
		img {
			width: 100%;
			margin-bottom: s.$m2;
			border-radius: s.$brstandard;
			transition: transform 0.5s;

			&:hover {
				transform: scale(0.95);
			}
		}
	}

	p {
		font-size: fs.$smedium;
		font-family: 'Poppins', sans-serif;
		margin-bottom: s.$m2;
		z-index: 9000;
		padding: 1em;
		border-radius: 8px;

		strong {
			font-size: fs.$smedium;
			font-weight: bold;
		}
	}

	.dark-text {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.light-text {
		background-color: rgba(0, 0, 0, 0.2);
	}
}

@media (min-width: 576px) {
	.box-img-text {
		&__text {
			p {
				text-align: justify;
			}
		}
	}
}

@media (min-width: 992px) {
	.box-img-text {
		flex-direction: row;

		&__img {
			align-self: center;
			margin-right: s.$m2;
			width: 50%;

			&--right {
				margin-right: 0;
				margin-left: s.$m2;
				order: 1;
			}
		}

		&__text {
			width: 50%;
		}
	}
}
