@use '../utilities/' as u;

.box-img-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 5em 0;
	padding: 0 7em;

	&__img {
		width: 100%;
		img {
			width: 100%;
			border-radius: 8px;
			transition: transform 0.5s;
			box-shadow: 3px 3px 10px u.$black;

			&:hover {
				transform: scale(0.95);
			}
		}
	}

	p {
		margin: 1em 0;
		font-size: 1.4rem;
		line-height: 1.3em;

		strong {
			font-size: 1.4rem;
			font-weight: bold;
		}
	}
}

@media (min-width: 576px) {
	.box-img-text {
		padding: 0 10em;

		&__text {
			p {
				font-size: 1.6rem;
				text-align: justify;

				strong {
					font-size: 1.6rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.box-img-text {
		&__img {
			width: 100%;
		}
	}
}

@media (min-width: 992px) {
	.box-img-text {
		flex-direction: row;

		&__img {
			align-self: center;
			margin-right: 20em;
			width: 50%;

			&--right {
				margin-right: 0;
				margin-left: 20em;
				order: 1;
			}
		}

		&__text {
			padding: 0 1em;
			width: 50%;
		}
	}
}
