@use '../utilities/colors' as c;
@use '../utilities/sizes' as s;
@use 'mixins' as mix;

.burger-btn {
	position: fixed;
	top: s.$m1;
	right: s.$m1;
	padding: s.$m1;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	transition: width 0.4s;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid c.$gray;
		border-radius: s.$brstandard;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include mix.burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.red-bars-color,
.red-bars-color::after,
.red-bars-color::before {
	background-color: c.$main-color;
}

@media (min-width: 768px) {
	.burger-btn {
		display: none;
	}
}
