@use 'utilities/font-sizes' as fs;
@use 'utilities/sizes' as s;
@use 'utilities/colors' as c;


.footer {
	padding: 0;
	overflow: hidden;
	background-image: c.$red-gradient-solid;
	color: c.$light-white;

	&__nav {
		display: none;
		align-self: center;
		padding: 0 s.$m1;

		&__items {
			display: flex;
			flex-direction: column;

			&-item {
				padding: 0.2em 0.5em;
				font-size: fs.$smedium;
				color: c.$light-white;
				text-decoration: none;
				outline: none;
				border-radius: s.$brsmall;
				transition: background-color 0.4s;

				&:hover {
					background-color: c.$focus-color;
				}

				&:focus {
					background-color: c.$focus-color;
				}
			}
		}
	}

	hr {
		width: 100%;
	}

	&__boxes {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 1.5em 1.5em;
	}

	&__box {
		&-title {
			margin-bottom: 0.5em;
			font-size: fs.$slarge;
			font-weight: bold;
			text-shadow: c.$heading-shadow;

			&--span {
				font-size: fs.$mlarge;
			}
		}

		&-social {
			margin-top: 1.5em;
		}

		&-link {
			padding: 0 0.3em;
			color: c.$light-white;
			font-size: fs.$lmedium;
			text-decoration: none;
			transition: color 0.3s;
			outline: none;

			&:first-child {
				padding-left: 0;
			}

			&:hover {
				color: c.$focus-color;
			}

			&:focus {
				color: c.$focus-color;
			}
		}

		p {
			font-size: fs.$smedium;
		}
	}

	&__bottom-text {
		padding: s.$m1;
		font-size: fs.$smedium;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.footer {
		&__boxes {
			justify-content: center;
			align-items: flex-start;
		}

		&__box {
			width: 85%;
			padding: 0;
		}

		&__nav {
			display: block;
			width: 15%;
		}
	}
}
