@use 'utilities/font-sizes' as fs;
@use 'utilities/sizes' as s;
@use 'utilities/colors' as c;

.footer.section{
	padding-bottom: 0;
	padding-top: 4em;
}

.footer {
	overflow: hidden;
	// background-image: c.$red-gradient-solid;
	background-color: c.$main-color;
	color: c.$light-white;

	hr {
		width: 120%;
	}

	&__box {
		&-title {
			margin-bottom: 0.5em;
			font-size: fs.$slarge;
			font-weight: bold;

			&--span {
				font-size: fs.$mlarge;
			}
		}

		&-social {
			margin: 1.5em 0;
		}

		&-link {
			padding: 0 0.3em;
			color: c.$light-white;
			font-size: fs.$lmedium;
			text-decoration: none;
			transition: color 0.3s;
			outline: none;

			&:first-child {
				padding-left: 0;
			}

			&:hover {
				color: c.$hover-color;
			}

			&:focus {
				color: c.$focus-color;
			}
		}

		p {
			font-size: fs.$smedium;
		}
	}

	&__bottom-text {
		padding: s.$m1;
		font-size: fs.$smedium;
		text-align: center;
	}
}
