@use 'utilities/font-sizes' as fs;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;
@use 'lightbox-mini' as lm;

.gallery.section{
	padding-bottom: 8em;
}

.gallery {

	&__accordion-box {
		display: flex;
		flex-direction: column;
		align-items: center;

		.accordion-btn {
			display: flex;
			align-items: center;
			padding: s.$m1 s.$m1;
			margin: 0.3em 0;
			width: 100%;
			font-size: fs.$smedium;
			text-align: left;
			border: 1px solid c.$gray;
			color: c.$gray;
			border-radius: s.$brsmall;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;

			&:hover,
			&:focus {
				background-image: c.$red-gradient-solid;
				color: c.$light-white;
			}

			i {
				margin-right: s.$m1;
			}
		}
	}

	&__box {
		margin: s.$m1 auto 0;
		display: none;
		grid-column: 250px;
		gap: s.$m1;

		&-item {
			width: 250px;
			height: 250px;
			transition: transform 0.3s;
			cursor: zoom-in;

			&:hover {
				transform: scale(0.95);
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: s.$brstandard;
				object-fit: cover;
			}
		}
	}

	&__menu-tabs {
		display: none;
	}
}

.active {
	display: grid;
}

@media (min-width: 576px) {
	.gallery {

		&__accordion-box {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		&__box {
			grid-template-columns: repeat(2, 1fr);
			gap: s.$m1;
		}
	}
}

@media (min-width: 830px) {
	.gallery__box {
		grid-template-columns: repeat(3, 1fr);
	}

}

@media (min-width: 1100px) {
	.gallery__box {
		grid-template-columns: repeat(4, 1fr);
	}
}
