@use 'utilities/font-sizes' as fs;
@use 'mixins' as mix;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;

.header {
	position: relative;
	padding-top: 2em;
	height: 100vh;
	color: c.$light-white;
	@include mix.heroImages('../img/headersmall.jpg');

	&__heading {
		margin-bottom: 0.3em;
		font-size: fs.$large;
		font-weight: bold;
		text-shadow: c.$heading-shadow;

		&-span {
			font-size: fs.$xlarge;
			text-transform: uppercase;
			color: c.$main-color;
		}
	}

	&__text {
		font-size: fs.$medium;
		margin-bottom: 3em;
		color: c.$light-white;
	}

	&__btn {
		padding: 0.8em 1.6em;
		font-size: fs.$medium;
		font-weight: bold;
		background-color: c.$main-color;
		color: c.$light-white;
		border: none;
		border-radius: s.$brstandard;
		text-decoration: none;
		text-transform: uppercase;
		transition: background-color 0.3s, color 0.35s;
		outline: none;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
		cursor: pointer;

		&:hover {
			background-color: c.$light-white;
			color: c.$main-color;
		}

		&:focus {
			background-color: c.$focus-color;
		}
	}

	.fa-chevron-down {
		position: absolute;
		padding: s.$m1 0;
		left: 50%;
		transform: translate(-50%);
		bottom: 10%;
		font-size: fs.$medium;
		color: c.$light-white;
	}

	.fa-chevron-down:hover {
		color: c.$main-color;
	}
}

@media (min-width: 576px) {
	.header {
		&__heading {
			font-size: fs.$xlarge;

			&-span {
				font-size: fs.$xxlarge;
			}
		}

		&__text {
			font-size: fs.$lmedium;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__heading {
			margin-top: 0.5em;
			font-size: fs.$xlarge;

			&-span {
				font-size: fs.$xxlarge;
			}
		}

		.fa-chevron-down {
			bottom: 5%;
		}
	}
}

@media (min-width: 992px) {
	.header {
		@include mix.heroImages('../img/headerbig.jpg');
		background-attachment: fixed;
		padding-top: 0.5em;

		&__heading {
			margin-bottom: 0.3em;
			font-size: fs.$xlarge;

			&-span {
				font-size: fs.$xxlarge;
			}
		}

		&__text {
			margin-bottom: 3em;
			font-size: fs.$lmedium;
		}

		.fa-chevron-down {
			bottom: 5%;
		}
	}
}
