@use 'utilities/font-sizes' as fs;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;

.icons_bar {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 6em;

	&__item {
		padding: 0.3em 0;
		transition: color 0.3s, transform 0.3s;

		i {
			padding: s.$m1 0;
			font-size: fs.$slarge;
			text-shadow: 0 0 4px c.$gray;
		}

		p {
			font-size: fs.$smedium;
		}

		&:hover {
			color: c.$main-color;
			transform: scale(1.2);
		}
	}
}

@media (min-width: 576px) {
	.icons_bar {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 s.$m1;

		&__item {
			width: 50%;

			&:last-child {
				width: 100%;
				align-self: center;
			}

			i {
				font-size: fs.$lmedium;
			}

			p {
				font-size: fs.$medium;
			}
		}
	}
}

@media (min-width: 768px) {
	.icons_bar {
		justify-content: center;

		&__item {
			padding: s.$m1 s.$m2;
			width: 30%;

			&:last-child {
				width: 30%;
			}

			i {
				font-size: fs.$slarge;
			}

			p {
				font-size: fs.$smedium;
			}
		}
	}
}

@media (min-width: 992px) {
	.icons_bar {
		&__item {
			width: 20%;

			&:last-child {
				width: 20%;
			}
		}
	}
}
