@use 'utilities/colors' as c;

@mixin heroImages($bgImg) {
	background-image: c.$dark-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
}

@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: c.$light-white;
	transition: width 0.3s;
}
