@use 'utilities/font-sizes' as fs;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;
@use 'animations' as a;

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	transform: translateX(100%);
	transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: c.$main-color;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__items-item {
		position: relative;
		display: block;
		padding: 0.3em 0.3em;
		font-size: fs.$lmedium;
		color: c.$light-white;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: c.$light-white;
			transition: transform 0.3s;
			content: '';
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

@media (min-width: 768px) {
	.nav {
		height: fs.$slarge;
		transform: translateX(0);
		overflow: hidden;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

		.active-link {
			position: relative;
			font-weight: bold;
			background-color: c.$hover-color;
		}

		&__items {
			width: 100%;
			display: flex;
			justify-content: center;

			&-item {
				display: flex;
				padding: 0 s.$m1;
				line-height: fs.$mlarge;
				font-size: fs.$medium;
				outline: none;
				transition: background-color 0.3s;

				&:hover {
					background-color: c.$hover-color;
				}

				&:focus {
					background-color: c.$focus-color;
				}

				&:hover::before {
					transform: scaleY(0);
				}
			}
		}
	}
}
