@use 'utilities/font-sizes' as fs;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;

.projects-carousel {
	padding: 1em 1em;

	.card {
		position: relative;
        height: 300px;
		border-radius: s.$brsmall;
		transition: transform 0.3s;
		overflow: hidden;

		img {
			position: absolute;
			height: 100%;
			object-fit: cover;
		}

		&-body {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			bottom: 5%;
			height: 20%;
			width: 90%;
			left: 50%;
			transform: translateX(-50%);
			overflow: hidden;

			p {
				position: absolute;
				font-size: fs.$smedium;
				text-align: center;
				color: c.$pure-white;
				text-transform: uppercase;
				z-index: 1;
			}

			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background-color: c.$transparent-black;
				border-radius: s.$brsmall;
			}
		}

		&:hover {
			transform: scale(0.96);
		}
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	padding: s.$m1 0;
	list-style-type: none;
	
		li {
			margin: 0 0.2em;
		}
	
		button {
			display: block;
			width: s.$m1;
			height: s.$m1;
			
			border: none;
			border-radius: 100%;
			background-color: c.$light-white;
			
			text-indent: -9999px;
            cursor: pointer;
		}
	
		li.slick-active button {
			background-color: c.$black;
		}
	
}

@media (min-width: 576px) {
	.projects-carousel {

		.card{
			margin-right: s.$m1;
		}
	}
}

@media (min-width: 992px) {
	.projects-carousel {
		display: none;
	}
}
