@use 'utilities/colors' as c;
@use 'utilities/font-sizes' as fs;
@use 'utilities/sizes' as s;

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	padding: 1.5em 1.5em 6em;
}

.light-section {
	background-color: c.$light-white;
	color: c.$black;
	background-image: c.$background-svg;
}

.red-section {
	background-color: c.$light-red;
	color: c.$light-white;
	background-image: c.$background-svg;
}

.section-heading {
	margin-top: s.$m2;
	font-size: fs.$slarge;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.light-section .section-heading {
	color: c.$black;
}

.red-section .section-heading {
	color: c.$light-white;
}

.underline {
	margin: 0 auto 6em;
	width: 80px;
	height: 4px;
	background-color: c.$main-color;
}

.light-section .underline {
	background-color: c.$main-color;
}

.red-section .underline {
	background-color: c.$pure-white;
}

.white-block {
	position: absolute;
	height: 40px;
	width: 70%;
	background-color: c.$light-white;
	background-image: c.$background-svg;

	&-left {
		bottom: 0;
		left: -50px;
		transform: skew(45deg);
	}

	&-right {
		top: 0;
		right: -50px;
		transform: skew(45deg);
	}
}
