@use '../utilities/colors' as c;
@use '../utilities/font-sizes' as fs;
@use '../utilities/sizes' as s;

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: s.$m1;
}

.light-section {
	background-color: c.$light-white;
	color: c.$black;
}

.red-section {
	background-image: c.$red-gradient-solid;
	color: c.$light-white;
}

.section-heading {
	margin-top: s.$m1;
	font-size: fs.$slarge;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.light-section .section-heading {
	color: c.$black;
}

.red-section .section-heading {
	color: c.$light-white;
}

.underline {
	margin: 0 auto s.$m2;
	width: 80px;
	height: 4px;
	background-color: c.$main-color;
}

.light-section .underline {
	background-color: c.$main-color;
}

.red-section .underline {
	background-color: c.$pure-white;
}

// .light-red-gradient {
// 	padding: 0;
// 	margin: 0;
// 	bottom: 0;
// 	width: 100%;
// 	height: 3em;
// 	background-image: c.$light-red-gradient;
// }

// .red-light-gradient {
// 	padding: 0;
// 	margin: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 3em;
// 	background-image: c.$red-light-gradient;
// }
