@use 'utilities/font-sizes' as fs;
@use 'mixins' as mix;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;

.aboutus {
	position: relative;
	color: c.$light-white;

	&__hero-bg {
		@include mix.heroImages('../img/aboutuss-small.jpg');
	}

	.underline {
		background-color: c.$light-white;
		margin-bottom: 3em;
	}

	&__info {
		padding: s.$m1;
		text-align: center;

		&-description {
			font-family: 'Poppins', sans-serif;
			font-size: fs.$smedium;
			margin-bottom: s.$m2;
		}

		&-list {
			list-style: none;
			margin-bottom: 4em;

			&-item {
				text-transform: uppercase;
				padding: 0.2em 0;
			}
		}
	}

	&__contact-btn {
		padding: s.$m1 s.$m2;
		margin-top: s.$m1;
		margin-bottom: 3em;
		font-size: fs.$smedium;
		font-weight: bold;
		background-color: c.$main-color;
		color: c.$light-white;

		@include mix.glowBtn;

		&:hover {
			background-color: c.$hover-color;
		}

		&:focus-visible {
			background-color: c.$focus-color;
		}
	}
}

@media (min-width: 576px) {
	.aboutus {
		&__info {
			padding: s.$m2;
			margin-bottom: 4em;

			&-description {
				margin-bottom: 4em;
			}
		}
	}
}

@media (min-width: 768px) {
	.aboutus {
		&__hero-bg {
			background-attachment: fixed;
		}
	}
}

@media (min-width: 992px) {
	.aboutus {
		&__hero-bg {
			@include mix.heroImages('../img/aboutuss-big.jpg');
		}

		&__info {
			&-description {
				text-align: justify;
			}
		}
	}
}
