@use 'utilities/font-sizes' as fs;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;

.contact {
	padding-bottom: 6em;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__form {
		margin-bottom: s.$m1;

		&-heading {
			font-size: fs.$medium;
			margin-bottom: s.$m1;
		}

		&-input {
			width: 97%;
			padding: s.$m1;
			margin: s.$m1 0.2em;
			font-size: fs.$smedium;
			border: none;
			border-radius: s.$brstandard;
			outline: none;
			transition: box-shadow 0.3s;

			&--message {
				width: 97%;

				resize: vertical;
			}

			&:focus-visible{
				box-shadow: 0 0 0 3px c.$menu-hover;
			}
		}

		&-rodo {
			margin: s.$m1 0;

			.checkbox {
				margin-left: 0.2em;
				font-size: fs.$smedium;
			}
		}

		&-send-btn {
			padding: s.$m1 s.$m2;
			margin: s.$m1 0;
			font-size: fs.$smedium;
			font-weight: bold;
			background-color: c.$main-color;
			color: c.$light-white;
			border: none;
			border-radius: s.$brstandard;
			text-decoration: none;
			text-transform: uppercase;
			transition: background-color 0.5s;
			outline: none;
			cursor: pointer;

			&:hover {
				background-color: c.$hover-color;
			}

			&:focus-visible {
				background-color: c.$focus-color;
			}
		}
	}

	&__map {
		width: 100%;
		padding: 1em;
		margin-bottom: s.$m1;
		background-color: c.$main-color;
		color: c.$light-white;
		border: 1px solid c.$main-color;
		border-radius: s.$brstandard;

		&-heading {
			font-size: fs.$medium;
			margin-bottom: s.$m1;
		}

		&-map {
			margin-bottom: s.$m1;
		}

		&-info {
			p {
				padding: 0.5em 0;

				i {
					margin-right: 0.5em;
				}
			}
		}

		.gmap_canvas {
			position: relative;
			padding-bottom: 75%;
			height: 0;
			overflow: hidden;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}

@media (min-width: 768px) {
	.contact {
		&__container {
			flex-direction: row;
			align-items: flex-start;
		}

		&__form {
			margin-right: s.$m2;
			width: 50%;
		}

		&__map {
			width: 50%;
		}
	}
}
