@use 'utilities/font-sizes' as fs;
@use 'utilities/colors' as c;
@use 'utilities/sizes' as s;
@use 'animations' as a;

.navbar {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.2em 0.5em;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1000;

	&__logo {
		text-decoration: none;
		font-size: fs.$lmedium;
		color: c.$light-white;
		outline: none;
		border-radius: 5px;
		transition: box-shadow 0.3s;
		cursor: pointer;

		span {
			font-size: 4rem;
			font-weight: bold;
			text-transform: uppercase;
			color: c.$main-color;
		}

		&:focus-visible{
			box-shadow: 0 0 0 1px c.$menu-hover;
		}
	}
}

.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	transform: translateX(-100%);
	transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-image: c.$background-red-svg;
	background-size: cover;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__items {
		&-item {
			padding: 0.2em;
			font-size: fs.$lmedium;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
				height: 100%;
				transform: scaleY(0);
				background-color: c.$light-white;
				transition: transform 0.3s;
				content: '';
			}

			&:hover::before {
				transform: scaleY(1);
			}
		}

		&-link {
			color: c.$light-white;
			text-decoration: none;
			border-radius: 15px;
			padding: 0.2em;

			&.active-link {
				text-decoration: underline;
				text-underline-offset: 5px;
			}

			&.home-link{
				display: none;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		height: 6rem;
		transform: translateX(0);
		background-image: none;
		background-color: c.$black;
		overflow: hidden;
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

		&__items {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
			max-width: 1200px;

			&-item {
				display: flex;
				margin: auto 0;
				padding: 0 0.5em;
				line-height: fs.$smedium;

				&:first-of-type {
					margin-right: auto;
				}

				&::before {
					content: none;
				}

			}

			&-link {
				padding: 0.5em;
				font-size: fs.$smedium;
				outline: none;
				border-radius: 15px;
				transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

				&.active-link {
					text-decoration: none;
				}

				&.active-link.standard-link {
					color: c.$menu-hover;
				}

				&.active-link.contact-link {
					color: c.$menu-hover;

					&:hover {
						color: c.$light-white;
					}
				}

				&.standard-link {
					&:hover {
						color: c.$main-color;
					}
				}

				&.home-link {
					display: inline;
					font-size: fs.$lmedium;
					text-transform: lowercase;

					span {
						font-size: 4rem;
						font-weight: bold;
						text-transform: uppercase;
						color: c.$main-color;
					}
				}

				&.contact-link {
					color: c.$light-white;
					border: 2px solid c.$main-color;

					&:hover {
						background-color: c.$main-color;
					}
				}

				&:focus-visible {
					&.standard-link,
					&.contact-link,
					&.home-link {
						box-shadow: 0 0 0 3px c.$menu-hover;
					}
				}
			}
		}
	}

	.navbar {
		display: none;
	}
}
